<body>
  <form method= "post" action = "/teams">
    <h1><% team.hero[0+1] %></h1>
    <ul>
      <li><label>Hero's Name: <%= @name %></label></li> 
      <li><label>Hero's Power: <%= @motto %></label></li>
      <li><label>Hero's Biography: <%= @motto %></label></li>
    </ul>
    <input type= "submit" value= "Submit"/>
  </form>
</body>
