<body>
  <form method= "post" action = "/"></form>
  
    <h1>"Create a Team and Heroes!"</h1>
    <ul>
      <li>Team Name: <%= @name %></li> 
      <li>Team Motto: <%= @motto %></li>
    </ul>
</body>


