<body>
  <form method= "post" action = "/">
    <h1>"Create a Team and Heroes!"</h1>
    <ul>
      <li><label>Team Name: <%= @name %></label></li>
      <li><label>Team Motto: <%= @motto %></label></li>
    </ul>
    <input type= "submit" value= "Submit"/>
  </form>
</body>


